<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>title1</title>
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'> -->
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/utility/ServiceLayer.js"></script>
	<script type="text/javascript" src="js/dashboardController.js"></script>
	<script type="text/javascript" src="js/dashboard.js"></script>
	<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
</head>
<body>
<div class="wrapper">
<!--header-->
<header>
	<!--navigation-->
	<nav>
		<div class="logo">
			<img src="images/Cartentia.png" alt="Cartentia Logo" />
		</div>
		<ul class="navbar">
			<li><a href="/dashboard" class="active">My Orders</a></li>
			<li><a href="#" onclick="showfullmap();">all orders on Map</a></li>
			<li><a href="#">Manage Users</a></li>
			<li><img src="images/img1.png" alt="user image" /></li>
		</ul>
	</nav>
	<!--navigation finish-->	
</header>
<!--content-->
<div class="sidebar">
	<div id="orderstatusparent"></div>
	<div  class="orderparent">
		<ul id="orders"></ul>
	</div>
</div>

<div class="content">
	<div id="orderdetails"></div>
	<!--small div for map-->
	<div id="map" class="smallmap"></div>
	<!--small div for map finish-->
</div>

</body>
</html>